{
    "server":{
        "port":3000,
        "host":null
    },

    "elasticsearch":{
    },
    "indexname":"skyfetch4",
    "venue_type_name":"location",

    "mongo":{
     
        }
    },

    "redis":{
     
    }
    "foursquare": {
      "key": "",
      "secret": "",
      "redirect_url": "http://localhost:3000/fs/callback"
    },
    imageUploadPath : __dirname + '/public/upload/'
}
