<script type="text/javascript" src="/javascripts/punchpage.js"></script>
<div data-role="header" class="ui-header ui-bar-a" role="banner">
  <a href="#" onclick="history.go(-1);" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Home">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span>
    </span>
    </a>
<h1 class="ui-title" role="heading" aria-level="1">Card name</h1>
</div>
<p class="checkins">
 You are goint to submit this photo!
</p>
<h3>Photos</h3>
<div class="galleryConfirm">
  <img src="/images/test.jpg"/>
</div>
  <form id="confirmPhoto" method="POST" action="/wherever">
  <div class="submitphoto">
    <input type="hidden" value="tmp/sdkjdsfl"></input>  
    <input type="submit" data-role="button" value="Punch in!"/>
  </div>
</form>
