<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet"  href="/stylesheets/jquery.mobile-1.2.0.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery.cookie.js"></script>
  <script src="/javascripts/settings.js"></script>
  <script src="/javascripts/jquery.mobile-1.2.0.js"></script>
  <script src="/javascripts/jquery.tmpl.min.js"></script>
  <script src="https://api.filepicker.io/v0/filepicker.js"></script>
</head>
<body>
  <div data-role="page" class="type-home">
    <div data-role="header" data-theme="c">
      {{#if pageTitle}}
        <a href="/" data-icon="home">Home</a>
        <h1>{{pageTitle}}</h1>
      {{else}}
        <h1>Punchout</h1>
      {{/if}}
       <a href="/leaderboard" data-role="button" data-mini="true">Leaderboard</a>
    </div>
    <div data-role="content">
      {{{body}}}
    </div>
  </div>
</body>
</html>
