<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet"  href="/stylesheets/jquery.mobile-1.2.0.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery.cookie.js"></script>
  <script src="/javascripts/settings.js"></script>
  <script src="/javascripts/jquery.mobile-1.2.0.js"></script>
</head>
<body>
  <div data-role="page" class="type-home">
    <div data-role="content">
    {{{body}}}
    </div>
  </div>
</body>
</html>