<script type="text/javascript" src="/javascripts/punchpage.js"></script>
<div data-role="header" class="ui-header ui-bar-a" role="banner">
  <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Home">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span>
    </span>
    </a>
<h1 class="ui-title" role="heading" aria-level="1">Leaderboard</h1>
</div>
<table class="dataTable">
  <tbody>
    <thead>
      <th>Name</th>
      <th>Points</th>
    </thead>
    <tbooy>
      <tr><td>Name 1</td><td>Score 1</td></tr>
      <tr><td>Name 2</td><td>Score 2</td></tr>
      <tr><td>Name 3</td><td>Score 3</td></tr>
      <tr><td>Name 4</td><td>Score 4</td></tr>
      <tr><td>Name 5</td><td>Score 5</td></tr>
    </tbody>
  </table>