<script type="text/javascript" src="/javascripts/punchpage.js"></script>
<p class="checkins">
  <span class="number">12</span> punchins&#33;
</p>
<h3>Photos</h3>
<div class="gallery">
  <img src="/images/test.jpg"   width="100"/>
  <img src="/images/test4.jpg" width="100"/>
  <img src="/images/test2.jpg" width="100"/>
  <img src="/images/test.jpg" width="100"/>
  <img src="/images/test3.jpg" width="100"/>
  <img src="/images/test.jpg" width="100"/>
  <img src="/images/test2.jpg" width="100"/>
  <img src="/images/test4.jpg" width="100"/>
</div>

<script>
    function fileUploaded(){
        document.forms["punchform"].submit();
    }
</script>

<form id="submitPhoto" method="POST" name="punchform" enctype="multipart/form-data" action="/punch/{{card._id}}/clip/{{user._id}}">
  <div class="submitphoto">
    <input onblur='fileUploaded()' style="display: none;" name="photo" type="file" accept="image/*" capture="camera" id="userPhoto"></input>
    <input type="submit" data-role="button" value="Punch"/>
  </div>
</form>
<h3>Friends</h3>
<ul>
  <li>Second user in card</li>
  <li>Third user in card</li>
</p>
