<script type="text/javascript" src="/javascripts/punchpage.js"></script>
<div data-role="header" class="ui-header ui-bar-a" role="banner">
  <a href="#" onclick="history.go(-1);" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Home">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span>
    </span>
    </a>
<h1 class="ui-title" role="heading" aria-level="1">Card name</h1>
<a href="/leaderboard" data-role="button" data-mini="true">Leaderboard</a>
</div>
<p class="checkins">
<h1>Success!</h1>
</p>
<h3>Photos</h3>
<div class="gallery">
  <img src="/images/test.jpg"   width="100"/>
  <img src="/images/test4.jpg" width="100"/>
  <img src="/images/test2.jpg" width="100"/>
  <img src="/images/test.jpg" width="100"/>
  <img src="/images/test3.jpg" width="100"/>
  <img src="/images/test.jpg" width="100"/>
  <img src="/images/test2.jpg" width="100"/>
  <img src="/images/test4.jpg" width="100"/>
</div>
<h3>Friends</h3>
<ul>
  <li>Second user in card</li>
  <li>Third user in card</li>
</p>
